In [9]:
import pandas as pd

In [11]:
indo_df=pd.read_csv("C:/Users/jsuri/Downloads/Datasets/heart_attack_indonesia.csv")

In [14]:
indo_df

,ID,State,Age,HeartAttack,Gender,Cholesterol,SmokingHabits,PhysicalActivity,BMI,Hypertension,...,EducationLevel,MaritalStatus,FamilyHistoryHeartDisease,IncomeLevel,HealthcareAccess,SleepHours,UrbanOrRural,AirQualityIndex,PollutionLevel,EmploymentStatus
0,1,Pekanbaru,32,No,Male,179,Smoker,High,19.1,Yes,...,Secondary,Single,No,Middle,Good,7.9,Urban,73,High,Unemployed
1,2,Makassar,15,Yes,Female,201,Non-smoker,High,26.9,No,...,Secondary,Married,No,Middle,Average,8.5,Urban,266,Moderate,Unemployed
2,3,Surabaya,41,No,Female,167,Non-smoker,Moderate,29.6,Yes,...,Primary,Single,No,Middle,Poor,7.3,Urban,132,Moderate,Employed
3,4,Malang,31,No,Male,287,Smoker,Moderate,19.4,No,...,Higher,Single,Yes,Middle,Good,4.8,Rural,64,High,Unemployed
4,5,Bali,19,No,Male,239,Smoker,High,18.5,No,...,Secondary,Married,No,Low,Poor,6.0,Urban,155,Moderate,Unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170496,170497,Semarang,23,No,Male,295,Smoker,High,33.6,No,...,Higher,Married,Yes,High,Good,7.6,Rural,52,Moderate,Employed
170497,170498,Malang,25,Yes,Male,172,Non-smoker,Moderate,20.1,Yes,...,Higher,Married,No,High,Poor,4.5,Rural,248,Low,Employed
170498,170499,Pekanbaru,64,No,Male,209,Smoker,Moderate,19.4,No,...,Primary,Married,No,Middle,Good,9.0,Rural,273,Moderate,Employed
170499,170500,Bandung,57,No,Male,150,Smoker,High,29.4,No,...,Primary,Single,No,Low,Average,6.4,Rural,207,Low,Employed
170500,170501,Malang,29,Yes,Male,230,Smoker,Moderate,27.9,No,...,Secondary,Single,No,Middle,Poor,8.7,Urban,93,Moderate,Unemployed

In [16]:
indo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         170501 non-null  int64
 1   State                      170501 non-null  object
 2   Age                        170501 non-null  int64
 3   HeartAttack                170501 non-null  object
 4   Gender                     170501 non-null  object
 5   Cholesterol                170501 non-null  int64
 6   SmokingHabits              170501 non-null  object
 7   PhysicalActivity           170501 non-null  object
 8   BMI                        170501 non-null  float64
 9   Hypertension               170501 non-null  object
 10  Diabetes                   170501 non-null  object
 11  AlcoholConsumption         113873 non-null  object
 12  DietType                   170501 non-null  object
 13  OccupationType             170501 non-null  object
 14  StressLevel                170501 non-null  object
 15  EducationLevel             170501 non-null  object
 16  MaritalStatus              170501 non-null  object
 17  FamilyHistoryHeartDisease  170501 non-null  object
 18  IncomeLevel                170501 non-null  object
 19  HealthcareAccess           170501 non-null  object
 20  SleepHours                 170501 non-null  float64
 21  UrbanOrRural               170501 non-null  object
 22  AirQualityIndex            170501 non-null  int64
 23  PollutionLevel             170501 non-null  object
 24  EmploymentStatus           170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB

In [18]:
indo_df['State'].value_counts()

State
Pekanbaru     11563
Medan         11560
Semarang      11482
Jakarta       11419
Makassar      11410
Denpasar      11407
Bandung       11378
Yogyakarta    11363
Pontianak     11350
Surabaya      11333
Balikpapan    11317
Bali          11275
Batam         11231
Palembang     11214
Malang        11199
Name: count, dtype: int64

In [20]:
indo_df['HeartAttack'].value_counts()

HeartAttack
No     127826
Yes     42675
Name: count, dtype: int64

In [22]:
indo_df.rename(columns = {'HeartAttack':'Heart_Attack'},inplace = True)

In [24]:
indo_df['Heart_Attack'].value_counts()

Heart_Attack
No     127826
Yes     42675
Name: count, dtype: int64

In [26]:
indo_df['Gender'].value_counts()

Gender
Female    85853
Male      84648
Name: count, dtype: int64

In [28]:
indo_df['Cholesterol'].value_counts()

Cholesterol
184    1221
221    1207
261    1206
161    1197
222    1194
       ...
186    1066
289    1065
217    1065
174    1052
173    1051
Name: count, Length: 150, dtype: int64

In [30]:
indo_df.rename(columns = {'Cholesterol':'Cholesterol_Level'},inplace = True)

In [32]:
indo_df['Cholesterol_Level'].value_counts()

Cholesterol_Level
184    1221
221    1207
261    1206
161    1197
222    1194
       ...
186    1066
289    1065
217    1065
174    1052
173    1051
Name: count, Length: 150, dtype: int64

In [34]:
indo_df.rename(columns = {'SmokingHabits':'Smoking_Status'},inplace = True)

In [36]:
indo_df['Smoking_Status'].value_counts()

Smoking_Status
Smoker        85374
Non-smoker    85127
Name: count, dtype: int64

In [38]:
indo_df.rename(columns = {'PhysicalActivity':'Physical_Activity'},inplace = True)

In [40]:
indo_df['Physical_Activity'].value_counts()

Physical_Activity
Moderate    57060
High        56752
Low         56689
Name: count, dtype: int64

In [42]:
indo_df['BMI'].value_counts()

BMI
26.8    1093
25.9    1089
24.2    1087
22.9    1086
25.6    1085
        ...
28.1     944
22.3     935
25.8     933
35.0     534
18.0     514
Name: count, Length: 171, dtype: int64

In [44]:
indo_df['Hypertension'].value_counts()

Hypertension
No     119409
Yes     51092
Name: count, dtype: int64

In [46]:
indo_df['Diabetes'].value_counts()

Diabetes
No     144837
Yes     25664
Name: count, dtype: int64

In [50]:
indo_df['AlcoholConsumption'].value_counts()

AlcoholConsumption
Often     57170
Rarely    56703
Name: count, dtype: int64

In [52]:
indo_df['AlcoholConsumption'].isnull().sum()

56628

In [56]:
import numpy as np

# Step 1: Count existing values
often_count = (indo_df['AlcoholConsumption'] == 'Often').sum()
rarely_count = (indo_df['AlcoholConsumption'] == 'Rarely').sum()
total_count = often_count + rarely_count  # Total non-null value

In [73]:
# Step 2: Compute proportions (avoid division by zero)
if total_count > 0:
    often_ratio = often_count / total_count
    rarely_ratio = rarely_count / total_count

    # Step 3: Fill NaN values proportionally
    np.random.seed(42)  # Ensuring reproducibility
    indo_df.loc[indo_df['AlcoholConsumption'].isnull(), 'AlcoholConsumption'] = np.random.choice(
        ['Often', 'Rarely'],
        size=indo_df['AlcoholConsumption'].isnull().sum(),
        p=[often_ratio, rarely_ratio]  # Assign probabilities based on existing distribution
    )
else:
    print("Warning: No valid values found in 'AlcoholConsumption' before filling NaNs!")

In [77]:
indo_df['AlcoholConsumption'].value_counts().sum()

170501

In [79]:
indo_df.rename(columns = {'AlcoholConsumption':'Alcohol_Consumption'},inplace = True)

In [81]:
indo_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Often     85588
Rarely    84913
Name: count, dtype: int64

In [83]:
print(indo_df['Alcohol_Consumption'].dtype)

object

In [87]:
# Replace 'Rarely' with 'Good' and 'Often' with 'Moderate'
indo_df['Alcohol_Consumption'] = indo_df['Alcohol_Consumption'].replace({'Rarely': 'Good', 'Often': 'Moderate'})

In [89]:
indo_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    85588
Good        84913
Name: count, dtype: int64

In [91]:
indo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         170501 non-null  int64
 1   State                      170501 non-null  object
 2   Age                        170501 non-null  int64
 3   Heart_Attack               170501 non-null  object
 4   Gender                     170501 non-null  object
 5   Cholesterol_Level          170501 non-null  int64
 6   Smoking_Status             170501 non-null  object
 7   Physical_Activity          170501 non-null  object
 8   BMI                        170501 non-null  float64
 9   Hypertension               170501 non-null  object
 10  Diabetes                   170501 non-null  object
 11  Alcohol_Consumption        170501 non-null  object
 12  DietType                   170501 non-null  object
 13  OccupationType             170501 non-null  object
 14  StressLevel                170501 non-null  object
 15  EducationLevel             170501 non-null  object
 16  MaritalStatus              170501 non-null  object
 17  FamilyHistoryHeartDisease  170501 non-null  object
 18  IncomeLevel                170501 non-null  object
 19  HealthcareAccess           170501 non-null  object
 20  SleepHours                 170501 non-null  float64
 21  UrbanOrRural               170501 non-null  object
 22  AirQualityIndex            170501 non-null  int64
 23  PollutionLevel             170501 non-null  object
 24  EmploymentStatus           170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB

In [93]:
indo_df['DietType'].value_counts()

DietType
Balanced     85549
Unhealthy    84952
Name: count, dtype: int64

In [95]:
indo_df.rename(columns = {'DietType':'Diet_Quality'},inplace = True)

In [97]:
indo_df['Diet_Quality'].value_counts()

Diet_Quality
Balanced     85549
Unhealthy    84952
Name: count, dtype: int64

In [99]:
indo_df['OccupationType'].value_counts()

OccupationType
Active       85462
Sedentary    85039
Name: count, dtype: int64

In [101]:
indo_df.rename(columns = {'OccupationType':'Occupation_Type'},inplace = True)

In [103]:
indo_df['Occupation_Type'].value_counts()

Occupation_Type
Active       85462
Sedentary    85039
Name: count, dtype: int64

In [105]:
indo_df['StressLevel'].value_counts()

StressLevel
Moderate    57223
High        56769
Low         56509
Name: count, dtype: int64

In [107]:
indo_df.rename(columns = {'StressLevel':'Stress_Level'},inplace = True)

In [109]:
indo_df['Stress_Level'].value_counts()

Stress_Level
Moderate    57223
High        56769
Low         56509
Name: count, dtype: int64

In [111]:
indo_df['EducationLevel'].value_counts()

EducationLevel
Secondary    57083
Higher       56904
Primary      56514
Name: count, dtype: int64

In [113]:
indo_df.rename(columns = {'EducationLevel':'Education_Level'},inplace = True)

In [115]:
indo_df['Education_Level'].value_counts()

Education_Level
Secondary    57083
Higher       56904
Primary      56514
Name: count, dtype: int64

In [117]:
indo_df['MaritalStatus'].value_counts()

MaritalStatus
Married    85367
Single     85134
Name: count, dtype: int64

In [119]:
indo_df.rename(columns = {'MaritalStatus':'Marital_Status'},inplace = True)

In [121]:
indo_df['Marital_Status'].value_counts()

Marital_Status
Married    85367
Single     85134
Name: count, dtype: int64

In [123]:
indo_df.rename(columns = {'State':'Region_Category'},inplace = True)

In [127]:
indo_df['Region_Category'].value_counts()

Region_Category
Pekanbaru     11563
Medan         11560
Semarang      11482
Jakarta       11419
Makassar      11410
Denpasar      11407
Bandung       11378
Yogyakarta    11363
Pontianak     11350
Surabaya      11333
Balikpapan    11317
Bali          11275
Batam         11231
Palembang     11214
Malang        11199
Name: count, dtype: int64

In [129]:
indo_df.rename(columns = {'FamilyHistoryHeartDisease':'Family_History'},inplace = True)

In [131]:
indo_df['Family_History'].value_counts()

Family_History
No     102208
Yes     68293
Name: count, dtype: int64

In [133]:
indo_df.rename(columns = {'IncomeLevel':'Income_Level'},inplace = True)

In [135]:
indo_df['Income_Level'].value_counts()

Income_Level
High      56929
Middle    56815
Low       56757
Name: count, dtype: int64

In [139]:
indo_df['HealthcareAccess'].value_counts()

HealthcareAccess
Average    57020
Good       56997
Poor       56484
Name: count, dtype: int64

In [141]:
indo_df.rename(columns = {'HealthcareAccess':'Healthcare_Access'},inplace = True)

In [143]:
indo_df['Healthcare_Access'].value_counts()

Healthcare_Access
Average    57020
Good       56997
Poor       56484
Name: count, dtype: int64

In [145]:
indo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   170501 non-null  int64
 1   Region_Category      170501 non-null  object
 2   Age                  170501 non-null  int64
 3   Heart_Attack         170501 non-null  object
 4   Gender               170501 non-null  object
 5   Cholesterol_Level    170501 non-null  int64
 6   Smoking_Status       170501 non-null  object
 7   Physical_Activity    170501 non-null  object
 8   BMI                  170501 non-null  float64
 9   Hypertension         170501 non-null  object
 10  Diabetes             170501 non-null  object
 11  Alcohol_Consumption  170501 non-null  object
 12  Diet_Quality         170501 non-null  object
 13  Occupation_Type      170501 non-null  object
 14  Stress_Level         170501 non-null  object
 15  Education_Level      170501 non-null  object
 16  Marital_Status       170501 non-null  object
 17  Family_History       170501 non-null  object
 18  Income_Level         170501 non-null  object
 19  Healthcare_Access    170501 non-null  object
 20  SleepHours           170501 non-null  float64
 21  UrbanOrRural         170501 non-null  object
 22  AirQualityIndex      170501 non-null  int64
 23  PollutionLevel       170501 non-null  object
 24  EmploymentStatus     170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB

In [147]:
indo_df.rename(columns = {'SleepHours':'Sleep_Hours'},inplace = True)

In [151]:
indo_df['Sleep_Hours'].value_counts().sum()

170501

In [155]:
indo_df['UrbanOrRural'].value_counts()

UrbanOrRural
Urban    85467
Rural    85034
Name: count, dtype: int64

In [157]:
indo_df.rename(columns = {'UrbanOrRural':'Location_Type'},inplace = True)

In [159]:
indo_df['Location_Type'].value_counts()

Location_Type
Urban    85467
Rural    85034
Name: count, dtype: int64

In [161]:
indo_df['AirQualityIndex'].value_counts()

AirQualityIndex
293    771
230    758
174    748
110    742
91     740
      ...
152    621
117    621
90     610
137    610
192    607
Name: count, Length: 250, dtype: int64

In [163]:
# Define function to categorize AQI values
def categorize_air_quality(aqi):
    if aqi <= 50:
        return "Good"
    elif aqi <= 100:
        return "Moderate"
    elif aqi <= 150:
        return "Unhealthy for Sensitive Groups"
    elif aqi <= 200:
        return "Unhealthy"
    elif aqi <= 300:
        return "Very Unhealthy"
    else:
        return "Hazardous"

In [165]:
indo_df["AirQualityIndex"] = indo_df["AirQualityIndex"].apply(categorize_air_quality)

In [167]:
indo_df["AirQualityIndex"] = indo_df["AirQualityIndex"].astype("object")

In [169]:
indo_df["AirQualityIndex"].value_counts()

AirQualityIndex
Very Unhealthy                    67783
Unhealthy                         34140
Unhealthy for Sensitive Groups    34136
Moderate                          33762
Good                                680
Name: count, dtype: int64

In [171]:
print(indo_df["AirQualityIndex"].dtype)

object

In [173]:
indo_df.rename(columns = {'AirQualityIndex':'Air_Quality_Index'},inplace = True)

In [179]:
indo_df['Air_Quality_Index'].value_counts()

Air_Quality_Index
Very Unhealthy                    67783
Unhealthy                         34140
Unhealthy for Sensitive Groups    34136
Moderate                          33762
Good                                680
Name: count, dtype: int64

In [181]:
indo_df['PollutionLevel'].value_counts()

PollutionLevel
High        56984
Low         56768
Moderate    56749
Name: count, dtype: int64

In [187]:
indo_df.rename(columns = {'PollutionLevel':'Pollution_Level'},inplace = True)

In [189]:
indo_df['Pollution_Level'].value_counts()

Pollution_Level
High        56984
Low         56768
Moderate    56749
Name: count, dtype: int64

In [191]:
indo_df.rename(columns = {'EmploymentStatus':'Employment_Status'},inplace = True)

In [193]:

indo_df['Employment_Status'].value_counts()

Employment_Status
Unemployed    85542
Employed      84959
Name: count, dtype: int64

In [195]:
indo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   170501 non-null  int64
 1   Region_Category      170501 non-null  object
 2   Age                  170501 non-null  int64
 3   Heart_Attack         170501 non-null  object
 4   Gender               170501 non-null  object
 5   Cholesterol_Level    170501 non-null  int64
 6   Smoking_Status       170501 non-null  object
 7   Physical_Activity    170501 non-null  object
 8   BMI                  170501 non-null  float64
 9   Hypertension         170501 non-null  object
 10  Diabetes             170501 non-null  object
 11  Alcohol_Consumption  170501 non-null  object
 12  Diet_Quality         170501 non-null  object
 13  Occupation_Type      170501 non-null  object
 14  Stress_Level         170501 non-null  object
 15  Education_Level      170501 non-null  object
 16  Marital_Status       170501 non-null  object
 17  Family_History       170501 non-null  object
 18  Income_Level         170501 non-null  object
 19  Healthcare_Access    170501 non-null  object
 20  Sleep_Hours          170501 non-null  float64
 21  Location_Type        170501 non-null  object
 22  Air_Quality_Index    170501 non-null  object
 23  Pollution_Level      170501 non-null  object
 24  Employment_Status    170501 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 32.5+ MB

In [201]:
indo_df.to_csv('cleaned_Indonesia_dataset.csv', index=False)

In [202]:
loaded_df = pd.read_csv('cleaned_Indonesia_dataset.csv')

In [207]:
loaded_df

,ID,Region_Category,Age,Heart_Attack,Gender,Cholesterol_Level,Smoking_Status,Physical_Activity,BMI,Hypertension,...,Education_Level,Marital_Status,Family_History,Income_Level,Healthcare_Access,Sleep_Hours,Location_Type,Air_Quality_Index,Pollution_Level,Employment_Status
0,1,Pekanbaru,32,No,Male,179,Smoker,High,19.1,Yes,...,Secondary,Single,No,Middle,Good,7.9,Urban,Moderate,High,Unemployed
1,2,Makassar,15,Yes,Female,201,Non-smoker,High,26.9,No,...,Secondary,Married,No,Middle,Average,8.5,Urban,Very Unhealthy,Moderate,Unemployed
2,3,Surabaya,41,No,Female,167,Non-smoker,Moderate,29.6,Yes,...,Primary,Single,No,Middle,Poor,7.3,Urban,Unhealthy for Sensitive Groups,Moderate,Employed
3,4,Malang,31,No,Male,287,Smoker,Moderate,19.4,No,...,Higher,Single,Yes,Middle,Good,4.8,Rural,Moderate,High,Unemployed
4,5,Bali,19,No,Male,239,Smoker,High,18.5,No,...,Secondary,Married,No,Low,Poor,6.0,Urban,Unhealthy,Moderate,Unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170496,170497,Semarang,23,No,Male,295,Smoker,High,33.6,No,...,Higher,Married,Yes,High,Good,7.6,Rural,Moderate,Moderate,Employed
170497,170498,Malang,25,Yes,Male,172,Non-smoker,Moderate,20.1,Yes,...,Higher,Married,No,High,Poor,4.5,Rural,Very Unhealthy,Low,Employed
170498,170499,Pekanbaru,64,No,Male,209,Smoker,Moderate,19.4,No,...,Primary,Married,No,Middle,Good,9.0,Rural,Very Unhealthy,Moderate,Employed
170499,170500,Bandung,57,No,Male,150,Smoker,High,29.4,No,...,Primary,Single,No,Low,Average,6.4,Rural,Very Unhealthy,Low,Employed
170500,170501,Malang,29,Yes,Male,230,Smoker,Moderate,27.9,No,...,Secondary,Single,No,Middle,Poor,8.7,Urban,Moderate,Moderate,Unemployed

In [209]:
loaded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   170501 non-null  int64
 1   Region_Category      170501 non-null  object
 2   Age                  170501 non-null  int64
 3   Heart_Attack         170501 non-null  object
 4   Gender               170501 non-null  object
 5   Cholesterol_Level    170501 non-null  int64
 6   Smoking_Status       170501 non-null  object
 7   Physical_Activity    170501 non-null  object
 8   BMI                  170501 non-null  float64
 9   Hypertension         170501 non-null  object
 10  Diabetes             170501 non-null  object
 11  Alcohol_Consumption  170501 non-null  object
 12  Diet_Quality         170501 non-null  object
 13  Occupation_Type      170501 non-null  object
 14  Stress_Level         170501 non-null  object
 15  Education_Level      170501 non-null  object
 16  Marital_Status       170501 non-null  object
 17  Family_History       170501 non-null  object
 18  Income_Level         170501 non-null  object
 19  Healthcare_Access    170501 non-null  object
 20  Sleep_Hours          170501 non-null  float64
 21  Location_Type        170501 non-null  object
 22  Air_Quality_Index    170501 non-null  object
 23  Pollution_Level      170501 non-null  object
 24  Employment_Status    170501 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 32.5+ MB