In [1]:
import pandas as pd

In [3]:
russia_df = pd.read_csv("C:/Users/jsuri/Downloads/Datasets/heart_attack_russia_youth_vs_adult.csv")

In [5]:
russia_df.head()

,ID,Age,Gender,Region,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Exercise_Level,Smoking,...,Income_Level,Physical_Activity,Education_Level,Marital_Status,Urban_Rural,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1,50,Male,Rural,110.0,196.5,15.9,76,High,False,...,Low,Low,Primary,Married,Rural,False,5,2.3,5,False
1,2,40,Female,Urban,138.8,157.5,27.1,82,Moderate,False,...,Low,Moderate,Higher,Married,Urban,False,1,5.0,4,False
2,3,26,Male,Rural,116.0,210.1,27.2,71,Moderate,False,...,Middle,High,Primary,Married,Urban,False,4,2.4,8,False
3,4,54,Female,Rural,133.5,170.5,26.0,74,Moderate,True,...,Middle,Moderate,Higher,Married,Urban,False,2,2.7,6,True
4,5,19,Female,Urban,108.0,224.5,27.5,67,Low,False,...,Middle,Low,Higher,Widowed,Urban,False,4,3.5,4,True

In [7]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region                 50000 non-null  object
 4   Blood_Pressure         50000 non-null  float64
 5   Cholesterol            50000 non-null  float64
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking                50000 non-null  bool
 10  Alcohol_Consumption    24976 non-null  object
 11  Diabetes               50000 non-null  bool
 12  Family_History         50000 non-null  bool
 13  Stress_Level           50000 non-null  int64
 14  Heart_Attack           50000 non-null  bool
 15  Angina                 50000 non-null  bool
 16  Heart_Disease_History  50000 non-null  bool
 17  Diet                   50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Urban_Rural            50000 non-null  object
 25  Medication             50000 non-null  bool
 26  Health_Awareness       50000 non-null  int64
 27  Daily_Water_Intake     50000 non-null  float64
 28  Mental_Health          50000 non-null  int64
 29  Obesity                50000 non-null  bool
dtypes: bool(8), float64(5), int64(6), object(11)
memory usage: 8.8+ MB

In [9]:
russia_df['Gender'].value_counts()

Gender
Female    24155
Male      23944
Other      1901
Name: count, dtype: int64

In [11]:
russia_df['Region'].value_counts()

Region
Urban       25034
Rural       14946
Suburban    10020
Name: count, dtype: int64

In [13]:
russia_df.rename(columns={'Region': 'Region_Category'}, inplace=True)

In [15]:
russia_df['Region_Category'] = russia_df['Region_Category'].replace({
    'Rural': 'Russia (Rural)',
    'Urban': 'Russia (Urban)',
    'Suburban': 'Russia (Suburban)'
})

In [17]:
russia_df['Region_Category'].value_counts()

Region_Category
Russia (Urban)       25034
Russia (Rural)       14946
Russia (Suburban)    10020
Name: count, dtype: int64

In [25]:
russia_df['Blood_Pressure']=russia_df['Blood_Pressure'].astype(int)

In [27]:
russia_df['Blood_Pressure'].value_counts()

Blood_Pressure
119    1397
122    1374
117    1345
116    1335
124    1308
       ...
66        1
183       1
172       1
188       1
173       1
Name: count, Length: 117, dtype: int64

In [29]:
print(russia_df['Blood_Pressure'].dtype)

int32

In [31]:
russia_df.rename(columns={'Cholesterol': 'Cholesterol_Level'}, inplace=True)

In [39]:
russia_df['Cholesterol_Level']=russia_df['Cholesterol_Level'].astype(int)

In [41]:
russia_df['Cholesterol_Level'].value_counts()

Cholesterol_Level
199    439
193    420
196    419
204    416
202    416
      ...
26       1
37       1
370      1
23       1
6        1
Name: count, Length: 358, dtype: int64

In [43]:
print(russia_df['Cholesterol_Level'].dtype)

int32

In [45]:
russia_df['BMI'].value_counts()

BMI
24.4    427
26.8    419
23.8    418
25.1    412
25.8    410
       ...
42.2      1
43.1      1
41.8      1
6.4       1
46.1      1
Name: count, Length: 366, dtype: int64

In [51]:
russia_df['Heart_Rate'].value_counts().sum()

50000

In [57]:
russia_df['Exercise_Level'].value_counts()

Exercise_Level
Moderate    24946
Low         15100
High         9954
Name: count, dtype: int64

In [59]:
russia_df['Smoking'].value_counts()

Smoking
False    35008
True     14992
Name: count, dtype: int64

In [61]:
# Define the boolean columns
bool_columns = ['Smoking', 'Diabetes', 'Family_History', 'Heart_Attack', 
                'Angina', 'Heart_Disease_History', 'Medication', 'Obesity']

In [63]:
russia_df[bool_columns] = russia_df[bool_columns].replace({True: 'Yes', False: 'No'}).astype(str)

In [67]:
print(russia_df[bool_columns].dtypes)

Smoking                  object
Diabetes                 object
Family_History           object
Heart_Attack             object
Angina                   object
Heart_Disease_History    object
Medication               object
Obesity                  object
dtype: object

In [69]:
russia_df[bool_columns].head()

,Smoking,Diabetes,Family_History,Heart_Attack,Angina,Heart_Disease_History,Medication,Obesity
0,No,No,No,No,No,No,No,No
1,No,No,Yes,No,Yes,No,No,No
2,No,Yes,No,No,No,No,No,No
3,Yes,No,Yes,No,No,No,No,Yes
4,No,No,Yes,No,No,No,No,Yes

In [71]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region_Category        50000 non-null  object
 4   Blood_Pressure         50000 non-null  int32
 5   Cholesterol_Level      50000 non-null  int32
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking                50000 non-null  object
 10  Alcohol_Consumption    24976 non-null  object
 11  Diabetes               50000 non-null  object
 12  Family_History         50000 non-null  object
 13  Stress_Level           50000 non-null  int64
 14  Heart_Attack           50000 non-null  object
 15  Angina                 50000 non-null  object
 16  Heart_Disease_History  50000 non-null  object
 17  Diet                   50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Urban_Rural            50000 non-null  object
 25  Medication             50000 non-null  object
 26  Health_Awareness       50000 non-null  int64
 27  Daily_Water_Intake     50000 non-null  float64
 28  Mental_Health          50000 non-null  int64
 29  Obesity                50000 non-null  object
dtypes: float64(3), int32(2), int64(6), object(19)
memory usage: 11.1+ MB

In [73]:
russia_df.rename(columns={'Smoking': 'Smoking_Status'}, inplace=True)

In [75]:
russia_df['Smoking_Status'].value_counts()

Smoking_Status
No     35008
Yes    14992
Name: count, dtype: int64

In [81]:
russia_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    20022
Heavy        4954
Name: count, dtype: int64

In [79]:
russia_df['Alcohol_Consumption'].isnull().sum()

25024

In [83]:
import numpy as np

In [85]:
np.random.seed(42)

In [87]:
moderate_count = (russia_df['Alcohol_Consumption'] == 'Moderate').sum()
heavy_count = (russia_df['Alcohol_Consumption'] == 'Heavy').sum()
total_known = moderate_count + heavy_count

In [89]:
moderate_ratio = moderate_count / total_known
heavy_ratio = heavy_count / total_known

In [91]:
russia_df.loc[russia_df['Alcohol_Consumption'].isnull(), 'Alcohol_Consumption'] = np.random.choice(
    ['Moderate', 'Heavy'],
    size=russia_df['Alcohol_Consumption'].isnull().sum(),
    p=[moderate_ratio, heavy_ratio]
)

In [93]:
russia_df['Alcohol_Consumption'].value_counts()

Alcohol_Consumption
Moderate    40054
Heavy        9946
Name: count, dtype: int64

In [95]:
russia_df['Stress_Level'].value_counts()

Stress_Level
1     5102
5     5099
7     5042
10    5009
6     5004
4     5000
8     4984
9     4975
3     4963
2     4822
Name: count, dtype: int64

In [97]:
# Define bins and labels
bins = [0, 3, 6, 10]  # Stress levels: 1-3 (Good), 4-6 (Moderate), 7-10 (Bad)
labels = ['Good', 'Moderate', 'Bad']  # Categories for stress levels

In [99]:
# Apply categorization
russia_df['Stress_Level'] = pd.cut(russia_df['Stress_Level'], bins=bins, labels=labels, right=True)

In [105]:
russia_df['Stress_Level'].value_counts()

Stress_Level
Bad         20010
Moderate    15103
Good        14887
Name: count, dtype: int64

In [107]:
russia_df['Heart_Attack'].value_counts()

Heart_Attack
No     44119
Yes     5881
Name: count, dtype: int64

In [109]:
russia_df['Diet'].value_counts()

Diet
Healthy      19789
Mixed        15185
Unhealthy    15026
Name: count, dtype: int64

In [111]:
russia_df.rename(columns={'Diet': 'Diet_Quality'}, inplace=True)

In [113]:
russia_df['Diet_Quality'].value_counts()

Diet_Quality
Healthy      19789
Mixed        15185
Unhealthy    15026
Name: count, dtype: int64

In [115]:
russia_df['Sleep_Hours'].value_counts()

Sleep_Hours
8.2     903
8.5     895
4.5     887
5.0     879
9.0     878
       ...
7.3     792
6.1     765
6.8     740
10.0    448
4.0     431
Name: count, Length: 61, dtype: int64

In [123]:
russia_df['Occupation'].value_counts()

Occupation
Employed      25166
Student       10068
Unemployed     9843
Retired        4923
Name: count, dtype: int64

In [125]:
russia_df['Income_Level'].value_counts()

Income_Level
Middle    20025
Low       19863
High      10112
Name: count, dtype: int64

In [129]:
russia_df['Physical_Activity'].value_counts()

Physical_Activity
Moderate    24828
Low         15158
High        10014
Name: count, dtype: int64

In [131]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region_Category        50000 non-null  object
 4   Blood_Pressure         50000 non-null  int32
 5   Cholesterol_Level      50000 non-null  int32
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking_Status         50000 non-null  object
 10  Alcohol_Consumption    50000 non-null  object
 11  Diabetes               50000 non-null  object
 12  Family_History         50000 non-null  object
 13  Stress_Level           50000 non-null  category
 14  Heart_Attack           50000 non-null  object
 15  Angina                 50000 non-null  object
 16  Heart_Disease_History  50000 non-null  object
 17  Diet_Quality           50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Urban_Rural            50000 non-null  object
 25  Medication             50000 non-null  object
 26  Health_Awareness       50000 non-null  int64
 27  Daily_Water_Intake     50000 non-null  float64
 28  Mental_Health          50000 non-null  int64
 29  Obesity                50000 non-null  object
dtypes: category(1), float64(3), int32(2), int64(5), object(19)
memory usage: 10.7+ MB

In [133]:
russia_df['Education_Level'].value_counts()

Education_Level
Secondary    20064
Primary      14983
Higher       14953
Name: count, dtype: int64

In [135]:
russia_df['Urban_Rural'].value_counts()

Urban_Rural
Urban    30142
Rural    19858
Name: count, dtype: int64

In [141]:
russia_df.drop(columns=['Urban_Rural'], inplace=True)

In [143]:
russia_df.head(4)

,ID,Age,Gender,Region_Category,Blood_Pressure,Cholesterol_Level,BMI,Heart_Rate,Exercise_Level,Smoking_Status,...,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1,50,Male,Russia (Rural),110,196,15.9,76,High,No,...,Unemployed,Low,Low,Primary,Married,No,5,2.3,5,No
1,2,40,Female,Russia (Urban),138,157,27.1,82,Moderate,No,...,Employed,Low,Moderate,Higher,Married,No,1,5.0,4,No
2,3,26,Male,Russia (Rural),116,210,27.2,71,Moderate,No,...,Employed,Middle,High,Primary,Married,No,4,2.4,8,No
3,4,54,Female,Russia (Rural),133,170,26.0,74,Moderate,Yes,...,Student,Middle,Moderate,Higher,Married,No,2,2.7,6,Yes

In [149]:
russia_df['Health_Awareness'].value_counts()

Health_Awareness
3    10098
2    10069
5    10036
4     9982
1     9815
Name: count, dtype: int64

In [153]:
# Define mapping for categories
awareness_mapping = {
    1: "Very Low Awareness",
    2: "Low Awareness",
    3: "Moderate Awareness",
    4: "High Awareness",
    5: "Very High Awareness"
}

# Apply the mapping
russia_df["Health_Awareness"] = russia_df["Health_Awareness"].map(awareness_mapping)

# Check the updated values
print(russia_df["Health_Awareness"].value_counts())

Health_Awareness
Moderate Awareness     10098
Low Awareness          10069
Very High Awareness    10036
High Awareness          9982
Very Low Awareness      9815
Name: count, dtype: int64

In [155]:
russia_df['Daily_Water_Intake'].value_counts()

Daily_Water_Intake
1.9    1312
2.9    1305
2.5    1302
3.5    1296
1.7    1287
2.3    1283
4.3    1282
2.0    1281
2.2    1277
1.3    1276
4.1    1273
2.4    1271
3.0    1271
3.6    1270
2.7    1269
2.8    1258
4.2    1256
4.0    1255
3.8    1255
3.4    1253
4.9    1246
2.1    1243
3.3    1243
4.7    1238
3.2    1238
4.6    1237
2.6    1237
3.9    1236
3.7    1235
3.1    1225
4.5    1223
1.2    1218
1.1    1212
1.8    1210
1.5    1207
4.4    1193
1.6    1192
4.8    1190
1.4    1169
1.0     663
5.0     613
Name: count, dtype: int64

In [157]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region_Category        50000 non-null  object
 4   Blood_Pressure         50000 non-null  int32
 5   Cholesterol_Level      50000 non-null  int32
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking_Status         50000 non-null  object
 10  Alcohol_Consumption    50000 non-null  object
 11  Diabetes               50000 non-null  object
 12  Family_History         50000 non-null  object
 13  Stress_Level           50000 non-null  category
 14  Heart_Attack           50000 non-null  object
 15  Angina                 50000 non-null  object
 16  Heart_Disease_History  50000 non-null  object
 17  Diet_Quality           50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Medication             50000 non-null  object
 25  Health_Awareness       50000 non-null  object
 26  Daily_Water_Intake     50000 non-null  float64
 27  Mental_Health          50000 non-null  int64
 28  Obesity                50000 non-null  object
dtypes: category(1), float64(3), int32(2), int64(4), object(19)
memory usage: 10.3+ MB

In [159]:
# Define bins and labels
bins = [0, 1.4, 2.9, 4.4, float("inf")]  # Upper limit as infinity
labels = ["Low Intake", "Moderate Intake", "High Intake", "Very High Intake"]

# Apply categorization
russia_df["Daily_Water_Intake"] = pd.cut(russia_df["Daily_Water_Intake"], bins=bins, labels=labels)

# Check the updated values
print(russia_df["Daily_Water_Intake"].value_counts())

Daily_Water_Intake
Moderate Intake     18934
High Intake         18781
Very High Intake     6747
Low Intake           5538
Name: count, dtype: int64

In [161]:
# Ensure Stress_Level is converted to object dtype
russia_df["Stress_Level"] = russia_df["Stress_Level"].astype(str)

# Verify the change
print(russia_df["Stress_Level"].dtype)  # Should print 'object'

object

In [165]:
russia_df["Daily_Water_Intake"] = russia_df["Daily_Water_Intake"].astype(str)

In [168]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region_Category        50000 non-null  object
 4   Blood_Pressure         50000 non-null  int32
 5   Cholesterol_Level      50000 non-null  int32
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking_Status         50000 non-null  object
 10  Alcohol_Consumption    50000 non-null  object
 11  Diabetes               50000 non-null  object
 12  Family_History         50000 non-null  object
 13  Stress_Level           50000 non-null  object
 14  Heart_Attack           50000 non-null  object
 15  Angina                 50000 non-null  object
 16  Heart_Disease_History  50000 non-null  object
 17  Diet_Quality           50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Medication             50000 non-null  object
 25  Health_Awareness       50000 non-null  object
 26  Daily_Water_Intake     50000 non-null  object
 27  Mental_Health          50000 non-null  int64
 28  Obesity                50000 non-null  object
dtypes: float64(2), int32(2), int64(4), object(21)
memory usage: 10.7+ MB

In [170]:
russia_df['Mental_Health'].value_counts()

Mental_Health
6     5136
4     5065
7     5039
3     5027
2     5015
5     4994
9     4977
1     4952
10    4901
8     4894
Name: count, dtype: int64

In [172]:
# Define mapping function for Mental_Health column
def categorize_mental_health(value):
    if value in [1, 2, 3]:
        return "Poor"
    elif value in [4, 5, 6]:
        return "Average"
    else:
        return "Good"

# Apply the function to create categorized values
russia_df["Mental_Health"] = russia_df["Mental_Health"].map(categorize_mental_health)

# Convert the column to object dtype
russia_df["Mental_Health"] = russia_df["Mental_Health"].astype(str)

# Verify the changes
print(russia_df["Mental_Health"].value_counts())  # Check distribution
print(russia_df["Mental_Health"].dtype)  # Should be 'object'

Mental_Health
Good       19811
Average    15195
Poor       14994
Name: count, dtype: int64
object

In [174]:
russia_df['Mental_Health'].value_counts()

Mental_Health
Good       19811
Average    15195
Poor       14994
Name: count, dtype: int64

In [176]:
russia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region_Category        50000 non-null  object
 4   Blood_Pressure         50000 non-null  int32
 5   Cholesterol_Level      50000 non-null  int32
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking_Status         50000 non-null  object
 10  Alcohol_Consumption    50000 non-null  object
 11  Diabetes               50000 non-null  object
 12  Family_History         50000 non-null  object
 13  Stress_Level           50000 non-null  object
 14  Heart_Attack           50000 non-null  object
 15  Angina                 50000 non-null  object
 16  Heart_Disease_History  50000 non-null  object
 17  Diet_Quality           50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Medication             50000 non-null  object
 25  Health_Awareness       50000 non-null  object
 26  Daily_Water_Intake     50000 non-null  object
 27  Mental_Health          50000 non-null  object
 28  Obesity                50000 non-null  object
dtypes: float64(2), int32(2), int64(3), object(22)
memory usage: 10.7+ MB

In [178]:
russia_df.to_csv('cleaned_russia_dataset.csv', index=False)

In [179]:
loaded_df = pd.read_csv('cleaned_russia_dataset.csv')

In [182]:
loaded_df

,ID,Age,Gender,Region_Category,Blood_Pressure,Cholesterol_Level,BMI,Heart_Rate,Exercise_Level,Smoking_Status,...,Occupation,Income_Level,Physical_Activity,Education_Level,Marital_Status,Medication,Health_Awareness,Daily_Water_Intake,Mental_Health,Obesity
0,1,50,Male,Russia (Rural),110,196,15.9,76,High,No,...,Unemployed,Low,Low,Primary,Married,No,Very High Awareness,Moderate Intake,Average,No
1,2,40,Female,Russia (Urban),138,157,27.1,82,Moderate,No,...,Employed,Low,Moderate,Higher,Married,No,Very Low Awareness,Very High Intake,Average,No
2,3,26,Male,Russia (Rural),116,210,27.2,71,Moderate,No,...,Employed,Middle,High,Primary,Married,No,High Awareness,Moderate Intake,Good,No
3,4,54,Female,Russia (Rural),133,170,26.0,74,Moderate,Yes,...,Student,Middle,Moderate,Higher,Married,No,Low Awareness,Moderate Intake,Average,Yes
4,5,19,Female,Russia (Urban),108,224,27.5,67,Low,No,...,Employed,Middle,Low,Higher,Widowed,No,High Awareness,High Intake,Average,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,56,Other,Russia (Rural),87,256,25.3,71,Low,Yes,...,Student,Middle,High,Primary,Divorced,Yes,High Awareness,Very High Intake,Poor,No
49996,49997,16,Male,Russia (Rural),125,102,25.1,77,Moderate,Yes,...,Unemployed,Middle,High,Secondary,Single,No,Moderate Awareness,High Intake,Average,Yes
49997,49998,46,Female,Russia (Suburban),116,160,27.7,63,Low,Yes,...,Employed,Middle,Low,Secondary,Single,No,Low Awareness,Moderate Intake,Good,No
49998,49999,24,Female,Russia (Rural),104,180,29.2,60,Moderate,Yes,...,Unemployed,Low,Moderate,Primary,Widowed,No,Moderate Awareness,High Intake,Average,No
49999,50000,38,Male,Russia (Urban),122,89,21.8,69,Moderate,No,...,Employed,Low,Moderate,Higher,Single,No,Very High Awareness,Moderate Intake,Poor,Yes